In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# open the first file
url = r"/home/youssef/Desktop/Jobs_Data/Data_Collecting/job_descriptions.csv"
df = pd.read_csv(url) 
df

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,461-509-4216,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,9687619505,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,+1-820-643-5431x47576,Network Engineer,Wireless Network Engineer,FlexJobs,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Hess,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,343.975.4702x9340,Event Manager,Conference Manager,Jobs2Careers,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Cairn Energy,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1615935,134563577088850,0 to 12 Years,B.Tech,$64K-$114K,"Malabo (de jure),",Equatorial Guinea,1.6508,10.2679,Full-Time,18281,...,950-451-5843,Mechanical Engineer,Mechanical Design Engineer,ZipRecruiter,Mechanical Design Engineers create and develop...,"{'Employee Assistance Programs (EAP), Tuition ...","Mechanical engineering CAD software (e.g., Sol...","Design mechanical systems, components, and pro...",The Hershey Company,"{""Sector"":""Food and Beverage/Confectionery"",""I..."
1615936,618604818190827,2 to 14 Years,M.Tech,$62K-$130K,Warsaw,Poland,51.9194,19.1451,Intern,63621,...,676.387.1572x71877,IT Manager,IT Director,USAJOBS,An IT Director oversees an organizations IT de...,"{'Health Insurance, Retirement Plans, Paid Tim...",Strategic IT planning Leadership and managemen...,Provide strategic leadership for IT department...,EQT,"{""Sector"":""Energy"",""Industry"":""Energy"",""City"":..."
1615937,615471367712200,4 to 15 Years,BCA,$60K-$96K,Ashgabat,Turkmenistan,38.9697,59.5563,Part-Time,114287,...,537.384.6193x5284,Mechanical Engineer,Mechanical Design Engineer,Indeed,Mechanical Design Engineers create and develop...,"{'Tuition Reimbursement, Stock Options or Equi...","Mechanical engineering CAD software (e.g., Sol...","Design mechanical systems, components, and pro...",KLA,"{""Sector"":""Technology"",""Industry"":""Semiconduct..."
1615938,804137342023945,5 to 15 Years,BCA,$65K-$103K,Ouagadougou,Burkina Faso,12.2383,-1.5616,Full-Time,45009,...,(484)257-4755x5346,HR Coordinator,Training Coordinator,Stack Overflow Jobs,Training Coordinators design and implement emp...,"{'Casual Dress Code, Social and Recreational A...",Training program coordination Training materia...,"Coordinate employee training programs, track t...",Mahindra & Mahindra,"{""Sector"":""Automotive"",""Industry"":""Automotive""..."
1615939,404645755314484,1 to 11 Years,BBA,$56K-$109K,Asmara,Eritrea,15.1794,39.7823,Part-Time,87637,...,(989)703-9723,Event Planner,Wedding Planner,USAJOBS,Wedding Planners specialize in organizing wedd...,"{'Transportation Benefits, Professional Develo...",Wedding planning Venue selection Catering and ...,"Specialize in wedding planning, assisting coup...",Ashtead Group,"{""Sector"":""Equipment Rental"",""Industry"":""Equip..."

In [4]:
# Create a comprehensive summary table for all columns
summary = pd.DataFrame({
    "Column Name": df.columns,
    "Data Type": df.dtypes,
    "Non-Null Count": df.notna().sum(),
    "Null Count": df.isna().sum(),
    "Null Percentage (%)": (df.isna().mean() * 100).round(2)
})

# Step 2: Descriptive statistics
desc = df.describe(include='all').T  # Transpose so columns become rows

# Merge summary with descriptive stats
summary = summary.merge(desc, left_on="Column Name", right_index=True, how="left")

# Reorder columns but only if they exist
desired_cols = [
    "Column Name", "Data Type", "Non-Null Count", "Null Count", "Null Percentage (%)",
    "count", "unique", "top", "freq", "mean", "std", "min", "25%", "50%", "75%", "max"
]

existing_cols = [col for col in desired_cols if col in summary.columns]
summary = summary[existing_cols]

# Display the summary table
summary

,Column Name,Data Type,Non-Null Count,Null Count,Null Percentage (%),count,unique,top,freq,mean,std,min,25%,50%,75%,max
Job Id,Job Id,int64,1615940,0,0.00,1615940.0,NaN,NaN,NaN,1548935398924028.25,894672175243946.75,181794758338.0,774050846969771.0,1547857662803636.0,2323729361800797.0,3099618227279433.0
Experience,Experience,str,1615940,0,0.00,1615940,48,5 to 8 Years,34120,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Qualifications,Qualifications,str,1615940,0,0.00,1615940,10,BBA,162148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Salary Range,Salary Range,str,1615940,0,0.00,1615940,561,$59K-$88K,3043,NaN,NaN,NaN,NaN,NaN,NaN,NaN
location,location,str,1615940,0,0.00,1615940,214,Seoul,15104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,Country,str,1615940,0,0.00,1615940,216,Malta,7723,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,latitude,float64,1615940,0,0.00,1615940.0,NaN,NaN,NaN,19.377431,23.556904,-40.9006,5.1521,18.0708,39.0742,71.7069
longitude,longitude,float64,1615940,0,0.00,1615940.0,NaN,NaN,NaN,16.399259,70.667622,-175.1982,-15.3101,19.1451,47.5769,178.065
Work Type,Work Type,str,1615940,0,0.00,1615940,5,Part-Time,324044,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company Size,Company Size,int64,1615940,0,0.00,1615940.0,NaN,NaN,NaN,73704.671546,35298.863912,12646.0,43114.0,73633.0,104300.0,134834.0
Job Posting Date,Job Posting Date,str,1615940,0,0.00,1615940,731,2021-11-14,2378,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Preference,Preference,str,1615940,0,0.00,1615940,3,Male,539167,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Contact Person,Contact Person,str,1615940,0,0.00,1615940,367128,Michael Smith,838,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Contact,Contact,str,1615940,0,0.00,1615940,1615933,+1-507-963-5920,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Job Title,Job Title,str,1615940,0,0.00,1615940,147,UX/UI Designer,48551,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Role,Role,str,1615940,0,0.00,1615940,376,Interaction Designer,20580,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Job Portal,Job Portal,str,1615940,0,0.00,1615940,16,FlexJobs,129879,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Job Description,Job Description,str,1615940,0,0.00,1615940,376,Interaction Designers specialize in designing ...,20580,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Benefits,Benefits,str,1615940,0,0.00,1615940,11,"{'Childcare Assistance, Paid Time Off (PTO), R...",161924,NaN,NaN,NaN,NaN,NaN,NaN,NaN
skills,skills,str,1615940,0,0.00,1615940,376,Interaction design principles User behavior an...,20580,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Responsibilities,Responsibilities,str,1615940,0,0.00,1615940,375,"Work on interaction design, defining how users...",20580,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company,Company,str,1615940,0,0.00,1615940,888,DTE Energy,1957,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company Profile,Company Profile,str,1610462,5478,0.34,1610462,884,"{""Sector"":""Automotive"",""Industry"":""Automotive""...",3572,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import re

# columns to process
columns = [
    "Job Description",
    "Benefits",
    "skills",
    "Responsibilities",
    "Company",
    "Company Profile"
]

# convert to string
for col in columns:
    df[col] = df[col].astype(str)

# clean normal text columns
for col in ["Job Description", "Company", "Company Profile"]:
    df[col] = (
        df[col]
        .str.strip()
        .str.replace(r'\s+', ' ', regex=True)
        .str.lower()
    )

# clean and normalize list-like columns
def clean_list_column(text):
    if pd.isna(text):
        return None
    
    text = str(text).lower()
    text = re.sub(r'\s+', ' ', text)
    text = re.sub(r'[^\w\s,]', '', text)
    
    items = [i.strip() for i in text.split(",")]
    items = list(dict.fromkeys([i for i in items if i != ""]))  # remove duplicates
    
    return ", ".join(items)

for col in ["skills", "Benefits", "Responsibilities"]:
    df[col] = df[col].apply(clean_list_column)

In [6]:
df.drop(columns=["Contact", "Job Description", "Benefits", "skills", "Responsibilities"], inplace=True)
df["Job Posting Date"] = pd.to_datetime(df["Job Posting Date"], errors="coerce")
df = df.drop_duplicates(subset=["Job Id"])
df.columns = [col.title() for col in df.columns]

In [7]:
df["Work Type"].value_counts()

Work Type
Part-Time    324044
Temporary    323439
Contract     323131
Intern       323090
Full-Time    322236
Name: count, dtype: int64

In [8]:
df["Company Profile"].unique()

<StringArray>
[                          '{"sector":"diversified","industry":"diversified financials","city":"sunny isles beach","state":"florida","zip":"33160","website":"www.ielp.com","ticker":"iep","ceo":"david willetts"}',
                         '{"sector":"financial services","industry":"commercial banks","city":"pittsburgh","state":"pennsylvania","zip":"15222","website":"www.pnc.com","ticker":"pnc","ceo":"william s. demchak"}',
                       '{"sector":"insurance","industry":"insurance: property and casualty (stock)","city":"san antonio","state":"texas","zip":"78288","website":"www.usaa.com","ticker":"","ceo":"wayne peacock"}',
                                    '{"sector":"energy","industry":"mining, crude-oil production","city":"new york","state":"new york","zip":"10036","website":"www.hess.com","ticker":"hes","ceo":"john b. hess"}',
 '{"sector":"energy","industry":"energy - oil & gas exploration & production","city":"edinburgh","state":"scotland","zip":"eh2 4nh","website":"https://www.cairnenergy.com/","ticker":"cne","ceo":"simon thomson"}',
             '{"sector":"infrastructure","industry":"ports and infrastructure","city":"mundra","state":"gujarat","zip":"370421","website":"https://www.adaniports.com/","ticker":"adaniports","ceo":"karan adani"}',
                       '{"sector":"logistics","industry":"mail, package and freight delivery","city":"memphis","state":"tennessee","zip":"38120","website":"www.fedex.com","ticker":"fdx","ceo":"raj subramaniam"}',
                            '{"sector":"transportation","industry":"transportation and logistics","city":"miami","state":"florida","zip":"33178","website":"www.ryder.com","ticker":"r","ceo":"robert e. sanchez"}',
  '{"sector":"media & entertainment","industry":"media and entertainment","city":"mumbai","state":"maharashtra","zip":"400064","website":"https://www.zeeentertainment.com/","ticker":"zeel","ceo":"punit goenka"}',
                                       '{"sector":"transportation","industry":"railroads","city":"jacksonville","state":"florida","zip":"32202","website":"www.csx.com","ticker":"csx","ceo":"joseph r. hinrichs"}',
 ...
                                          '{"sector":"energy","industry":"petroleum refining","city":"brentwood","state":"tennessee","zip":"37027","website":"www.delekus.com","ticker":"dk","ceo":"avigal soreq"}',
  '{"sector":"technology and telecommunications","industry":"technology & telecommunications","city":"shenzhen","state":"n/a","zip":"n/a","website":"https://www.zte.com.cn/","ticker":"0763.hk","ceo":"li zixue"}',
                                     '{"sector":"automotive","industry":"motor vehicles & parts","city":"akron","state":"ohio","zip":"44316","website":"www.goodyear.com","ticker":"gt","ceo":"richard j. kramer"}',
                       '{"sector":"flooring","industry":"home equipment, furnishings","city":"calhoun","state":"georgia","zip":"30701","website":"www.mohawkind.com","ticker":"mhk","ceo":"jeffrey s. lorberbaum"}',
                                  '{"sector":"industrials","industry":"temporary help","city":"menlo park","state":"california","zip":"94025","website":"www.roberthalf.com","ticker":"rhi","ceo":"keith waddell"}',
                            '{"sector":"financial services","industry":"banking & financial services","city":"frankfurt","state":"n/a","zip":"n/a","website":"www.db.com","ticker":"dbk","ceo":"christian sewing"}',
        '{"sector":"construction and engineering","industry":"distribution/wholesale","city":"northampton","state":"n/a","zip":"n/a","website":"www.travisperkinsplc.co.uk","ticker":"tpk.l","ceo":"nick roberts"}',
                                       '{"sector":"chemicals","industry":"chemicals","city":"allentown","state":"pennsylvania","zip":"18106","website":"www.airproducts.com","ticker":"apd","ceo":"seifi ghasemi"}',
                                      '{"sector":"chemicals","industry":"chemicals","city":"udaipur","state":"rajasthan","zip":"313 003","website":"www.piindustries.com","ticker":"piind","ceo":"mayank singhal"}',
                                      '{"sector":"diversified","industry":"diversified","city":"pyrmont","state":"nsw","zip":"2009","website":"https://www.sevengroup.com.au/","ticker":"svw","ceo":"ryan stokes"}']
Length: 885, dtype: str

In [9]:
import json

# Convert string to dict safely
def parse_json(x):
    try:
        return json.loads(x)
    except (json.JSONDecodeError, TypeError):
        return {}  # return empty dict if invalid

# Apply parsing to the column
df['Company Profile'] = df['Company Profile'].apply(parse_json)

# Expand the JSON into separate columns
company_profile_expanded = pd.json_normalize(df['Company Profile'])

# Concatenate the new columns with the original dataframe
df = pd.concat([df.drop(columns=['Company Profile']), company_profile_expanded], axis=1)

In [11]:
df.columns = [col.title() for col in df.columns]
df.head(5)

,Job Id,Experience,Qualifications,Salary Range,Location,Country,Latitude,Longitude,Work Type,Company Size,...,Job Portal,Company,Sector,Industry,City,State,Zip,Website,Ticker,Ceo
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,Snagajob,icahn enterprises,diversified,diversified financials,sunny isles beach,florida,33160,www.ielp.com,iep,david willetts
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,Idealist,pnc financial services group,financial services,commercial banks,pittsburgh,pennsylvania,15222,www.pnc.com,pnc,william s. demchak
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,Jobs2Careers,united services automobile assn.,insurance,insurance: property and casualty (stock),san antonio,texas,78288,www.usaa.com,,wayne peacock
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,FlexJobs,hess,energy,"mining, crude-oil production",new york,new york,10036,www.hess.com,hes,john b. hess
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,Jobs2Careers,cairn energy,energy,energy - oil & gas exploration & production,edinburgh,scotland,eh2 4nh,https://www.cairnenergy.com/,cne,simon thomson

In [15]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect("/home/youssef/Desktop/Jobs_Data/DWH_Database/Jobs_Data")

# Write DataFrame to database
df.to_sql(
    name="Job_Descriptions",        # table name
    con=conn,
    if_exists="replace",  # replace table if exists
    index=False
)

# Close connection
conn.close()