In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# open the first file
url = r"/home/youssef/Desktop/Jobs_Data/Data_Collecting/linkedin_job_postings.csv"
df = pd.read_csv(url) 
df

,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
0,https://www.linkedin.com/jobs/view/account-exe...,2024-01-21 07:12:29.00256+00,t,t,f,Account Executive - Dispensing (NorCal/Norther...,BD,"San Diego, CA",2024-01-15,Coronado,United States,Color Maker,Mid senior,Onsite
1,https://www.linkedin.com/jobs/view/registered-...,2024-01-21 07:39:58.88137+00,t,t,f,Registered Nurse - RN Care Manager,Trinity Health MI,"Norton Shores, MI",2024-01-14,Grand Haven,United States,Director Nursing Service,Mid senior,Onsite
2,https://www.linkedin.com/jobs/view/restaurant-...,2024-01-21 07:40:00.251126+00,t,t,f,RESTAURANT SUPERVISOR - THE FORKLIFT,Wasatch Adaptive Sports,"Sandy, UT",2024-01-14,Tooele,United States,Stand-In,Mid senior,Onsite
3,https://www.linkedin.com/jobs/view/independent...,2024-01-21 07:40:00.308133+00,t,t,f,Independent Real Estate Agent,Howard Hanna | Rand Realty,"Englewood Cliffs, NJ",2024-01-16,Pinehurst,United States,Real-Estate Clerk,Mid senior,Onsite
4,https://www.linkedin.com/jobs/view/group-unit-...,2024-01-19 09:45:09.215838+00,f,f,f,Group/Unit Supervisor (Systems Support Manager...,"IRS, Office of Chief Counsel","Chamblee, GA",2024-01-17,Gadsden,United States,Supervisor Travel-Information Center,Mid senior,Onsite
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348449,https://www.linkedin.com/jobs/view/registered-...,2024-01-20 15:21:07.786118+00,t,t,f,Registered Nurse (RN) #CP-RN-7998660 - 2411627...,TravelNurseSource,"Providence, RI",2024-01-14,Fall River,United States,Nurse Supervisor,Mid senior,Onsite
1348450,https://www.linkedin.com/jobs/view/constructio...,2024-01-20 15:21:10.885264+00,t,t,f,Construction Superintendent,Jobot,"New Iberia, LA",2024-01-15,Lafayette,United States,Assistant Construction Superintendent,Mid senior,Onsite
1348451,https://www.linkedin.com/jobs/view/executive-c...,2024-01-21 07:40:00.304641+00,t,t,f,"Executive Chef, Operations Support",NEXDINE Hospitality,"Riverhead, NY",2024-01-14,Eastport,United States,Chef,Mid senior,Onsite
1348452,https://www.linkedin.com/jobs/view/rn-register...,2024-01-21 00:38:39.816821+00,t,t,f,"RN- Registered Nurse, Analyst - - 23934913EXPP...",TravelNurseSource,"Aurora, CO",2024-01-16,Colorado,United States,Occupational Analyst,Mid senior,Onsite
1348453,https://www.linkedin.com/jobs/view/on-demand-g...,2024-01-21 00:38:44.231492+00,t,t,f,"On-Demand: Guest Advocate (Cashier), General M...",Target,"Culver City, CA",2024-01-12,Malibu,United States,Cashier Ii,Mid senior,Onsite

In [3]:
# Create a comprehensive summary table for all columns
summary = pd.DataFrame({
    "Column Name": df.columns,
    "Data Type": df.dtypes,
    "Non-Null Count": df.notna().sum(),
    "Null Count": df.isna().sum(),
    "Null Percentage (%)": (df.isna().mean() * 100).round(2)
})

# Step 2: Descriptive statistics
desc = df.describe(include='all').T  # Transpose so columns become rows

# Merge summary with descriptive stats
summary = summary.merge(desc, left_on="Column Name", right_index=True, how="left")

# Reorder columns but only if they exist
desired_cols = [
    "Column Name", "Data Type", "Non-Null Count", "Null Count", "Null Percentage (%)",
    "count", "unique", "top", "freq", "mean", "std", "min", "25%", "50%", "75%", "max"
]

existing_cols = [col for col in desired_cols if col in summary.columns]
summary = summary[existing_cols]

# Display the summary table
summary

,Column Name,Data Type,Non-Null Count,Null Count,Null Percentage (%),count,unique,top,freq
job_link,job_link,str,1348454,0,0.0,1348454,1348454,https://www.linkedin.com/jobs/view/account-exe...,1
last_processed_time,last_processed_time,str,1348454,0,0.0,1348454,722748,2024-01-19 09:45:09.215838+00,625540
got_summary,got_summary,str,1348454,0,0.0,1348454,2,t,1297877
got_ner,got_ner,str,1348454,0,0.0,1348454,2,t,1296401
is_being_worked,is_being_worked,str,1348454,0,0.0,1348454,2,f,1346978
job_title,job_title,str,1348454,0,0.0,1348454,584544,LEAD SALES ASSOCIATE-FT,7325
company,company,str,1348443,11,0.0,1348443,90605,Health eCareers,41598
job_location,job_location,str,1348435,19,0.0,1348435,29153,"New York, NY",13436
first_seen,first_seen,str,1348454,0,0.0,1348454,6,2024-01-14,460035
search_city,search_city,str,1348454,0,0.0,1348454,1018,Baytown,10052
search_country,search_country,str,1348454,0,0.0,1348454,4,United States,1149342
search_position,search_position,str,1348454,0,0.0,1348454,1993,Account Executive,19468
job_level,job_level,str,1348454,0,0.0,1348454,2,Mid senior,1204445
job_type,job_type,str,1348454,0,0.0,1348454,3,Onsite,1337633

In [4]:
def eda_column(df, col, max_unique=50, top_n=10):
    
    # Basic info
    print(f"### Column: {col}")
    print(f"Type: {df[col].dtype}")
    print(f"Missing values: {df[col].isna().sum()}")
    print(f"Duplicate values: {df[col].duplicated().sum()}")
    print(f"Unique values: {df[col].nunique()}")
    
    # Value counts (including NaN)
    vc = df[col].value_counts(dropna=False)
    
    if df[col].nunique() <= max_unique:
        print(f"\nValue counts (Top {top_n} incl. NaN):")
        print(vc.head(top_n))
        
        print(f"\nPercentages (Top {top_n} incl. NaN):")
        print((vc / len(df)).head(top_n))
    else:
        print("\nHigh cardinality column")
        print(f"Skipped value counts (unique values > {max_unique})")
    
    # Categorical analysis
    if df[col].dtype == 'object' or df[col].dtype.name == 'category':
        if not df[col].mode().empty:
            print(f"\nMode: {df[col].mode().iloc[0]}")
    
    # Numerical analysis
    if df[col].dtype in ['int64', 'float64']:
        print("\nNumeric summary:")
        print(df[col].describe())
        
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        outliers = ((df[col] < Q1 - 1.5*IQR) | (df[col] > Q3 + 1.5*IQR)).sum()
        print(f"Outliers (IQR): {outliers}")
    
    # Datetime analysis
    if pd.api.types.is_datetime64_any_dtype(df[col]):
        print("\nDate breakdown (sample):")
        print("Years:", df[col].dt.year.dropna().unique()[:5])
        print("Months:", df[col].dt.month.dropna().unique()[:5])
    
    print("\n")


# DataFrame-level EDA
def eda_dataframe(df, max_unique=50, top_n=10):
    for col in df.columns:
        eda_column(df, col, max_unique=max_unique, top_n=top_n)

eda_dataframe(df)

### Column: job_link
Type: str
Missing values: 0
Duplicate values: 0
Unique values: 1348454

High cardinality column
Skipped value counts (unique values > 50)


### Column: last_processed_time
Type: str
Missing values: 0
Duplicate values: 625706
Unique values: 722748

High cardinality column
Skipped value counts (unique values > 50)


### Column: got_summary
Type: str
Missing values: 0
Duplicate values: 1348452
Unique values: 2

Value counts (Top 10 incl. NaN):
got_summary
t    1297877
f      50577
Name: count, dtype: int64

Percentages (Top 10 incl. NaN):
got_summary
t    0.962493
f    0.037507
Name: count, dtype: float64


### Column: got_ner
Type: str
Missing values: 0
Duplicate values: 1348452
Unique values: 2

Value counts (Top 10 incl. NaN):
got_ner
t    1296401
f      52053
Name: count, dtype: int64

Percentages (Top 10 incl. NaN):
got_ner
t    0.961398
f    0.038602
Name: count, dtype: float64


### Column: is_being_worked
Type: str
Missing values: 0
Duplicate values: 1348452
Unique values: 2

Value counts (Top 10 incl. NaN):
is_being_worked
f    1346978
t       1476
Name: count, dtype: int64

Percentages (Top 10 incl. NaN):
is_being_worked
f    0.998905
t    0.001095
Name: count, dtype: float64


### Column: job_title
Type: str
Missing values: 0
Duplicate values: 763910
Unique values: 584544

High cardinality column
Skipped value counts (unique values > 50)


### Column: company
Type: str
Missing values: 11
Duplicate values: 1257848
Unique values: 90605

High cardinality column
Skipped value counts (unique values > 50)


### Column: job_location
Type: str
Missing values: 19
Duplicate values: 1319300
Unique values: 29153

High cardinality column
Skipped value counts (unique values > 50)


### Column: first_seen
Type: str
Missing values: 0
Duplicate values: 1348448
Unique values: 6

Value counts (Top 10 incl. NaN):
first_seen
2024-01-14    460035
2024-01-13    404057
2024-01-12    206197
2024-01-16    157058
2024-01-15     85079
2024-01-17     36028
Name: count, dtype: int64

Percentages (Top 10 incl. NaN):
first_seen
2024-01-14    0.341157
2024-01-13    0.299645
2024-01-12    0.152914
2024-01-16    0.116473
2024-01-15    0.063094
2024-01-17    0.026718
Name: count, dtype: float64


### Column: search_city
Type: str
Missing values: 0
Duplicate values: 1347436
Unique values: 1018

High cardinality column
Skipped value counts (unique values > 50)


### Column: search_country
Type: str
Missing values: 0
Duplicate values: 1348450
Unique values: 4

Value counts (Top 10 incl. NaN):
search_country
United States     1149342
United Kingdom     113421
Canada              55972
Australia           29719
Name: count, dtype: int64

Percentages (Top 10 incl. NaN):
search_country
United States     0.852341
United Kingdom    0.084112
Canada            0.041508
Australia         0.022039
Name: count, dtype: float64


### Column: search_position
Type: str
Missing values: 0
Duplicate values: 1346461
Unique values: 1993

High cardinality column
Skipped value counts (unique values > 50)


### Column: job_level
Type: str
Missing values: 0
Duplicate values: 1348452
Unique values: 2

Value counts (Top 10 incl. NaN):
job_level
Mid senior    1204445
Associate      144009
Name: count, dtype: int64

Percentages (Top 10 incl. NaN):
job_level
Mid senior    0.893204
Associate     0.106796
Name: count, dtype: float64


### Column: job_type
Type: str
Missing values: 0
Duplicate values: 1348451
Unique values: 3

Value counts (Top 10 incl. NaN):
job_type
Onsite    1337633
Hybrid       6562
Remote       4259
Name: count, dtype: int64

Percentages (Top 10 incl. NaN):
job_type
Onsite    0.991975
Hybrid    0.004866
Remote    0.003158
Name: count, dtype: float64

In [5]:
# Convert date columns to datetime format
date_cols = ["last_processed_time", "first_seen"]
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")

In [6]:
# Analyze the "last_processed_time" column
df["last_processed_time"].value_counts()

last_processed_time
2024-01-19 09:45:09.215838+00:00    625540
2024-01-21 07:14:24.978515+00:00         2
2024-01-20 10:00:26.292394+00:00         2
2024-01-21 03:34:01.630599+00:00         2
2024-01-19 23:22:35.214396+00:00         2
                                     ...
2024-01-20 15:21:07.786118+00:00         1
2024-01-20 15:21:10.885264+00:00         1
2024-01-21 07:40:00.304641+00:00         1
2024-01-21 00:38:39.816821+00:00         1
2024-01-21 00:38:44.231492+00:00         1
Name: count, Length: 722747, dtype: int64

In [7]:
# Analyze the "got_summary" column
df["got_summary"].value_counts()

got_summary
t    1297877
f      50577
Name: count, dtype: int64

In [8]:
# Analyze the "got_ner" column
df["got_ner"].value_counts()

got_ner
t    1296401
f      52053
Name: count, dtype: int64

In [9]:
# Analyze the "is_being_worked" column
df["is_being_worked"].value_counts()

is_being_worked
f    1346978
t       1476
Name: count, dtype: int64

In [10]:
# Analyze the "job_title" column
df["job_title"].value_counts()

job_title
LEAD SALES ASSOCIATE-FT                                                                                    7325
Shift Manager                                                                                              5818
First Year Tax Professional                                                                                5356
Assistant Manager                                                                                          5346
Customer Service Representative                                                                            5203
                                                                                                           ...
Registered Nurse at Senior Living Properties LLC                                                              1
Integrated Behavioral Health Psychologist - Telehealth- Located onsite in St. Cloud , MN                      1
Registered Nurse (RN) #CP-RN-7998660 - 24116274EXPPLAT /                                                      1
Executive Chef, Operations Support                                                                            1
On-Demand: Guest Advocate (Cashier), General Merchandise, Fulfillment, Food and Beverage, Style (T2632)       1
Name: count, Length: 584544, dtype: int64

In [11]:
# Clean job_title column in place
df['job_title'] = (
    df['job_title']
    .astype(str)                           # Ensure it's string
    .str.strip()                            # Remove leading/trailing spaces
    .str.replace(r'\s+', ' ', regex=True)  # Replace multiple spaces with single space
    .str.replace(r'[^\x00-\x7F]+', '', regex=True)  # Remove non-ASCII characters
    .str.lower()                            # Convert to lowercase
    .str.split(r'[-/]', n=1).str[0]        # Keep only part before first '-' or '/'
    .str.strip()                            # Clean again after split
)

# Fill missing values
df['job_title'] = df['job_title'].fillna('unknown')

In [12]:
# Analyze the "company" column
df["company"].value_counts()

company
Health eCareers                        41598
Jobs for Humanity                      27680
TravelNurseSource                      16142
Dollar General                         14815
PracticeLink                            9738
                                       ...
CompSource Mutual Insurance Company        1
Animal Medical Clinic of Gulf Gate         1
Transplant Life Foundation                 1
GMA Garnet Group                           1
BIX Produce                                1
Name: count, Length: 90605, dtype: int64

In [13]:
# Analyze the "job_location" column
df["job_location"].value_counts()

job_location
New York, NY                                   13436
London, England, United Kingdom                11761
Houston, TX                                    10999
Chicago, IL                                    10790
Los Angeles, CA                                10262
                                               ...
West Paterson, NJ                                  1
Austinville, VA                                    1
Lemon Cove, CA                                     1
Nineveh, IN                                        1
Yallabatharra, Western Australia, Australia        1
Name: count, Length: 29153, dtype: int64

In [14]:
# Analyze the "first_seen" column
df["first_seen"].value_counts()

first_seen
2024-01-14    460035
2024-01-13    404057
2024-01-12    206197
2024-01-16    157058
2024-01-15     85079
2024-01-17     36028
Name: count, dtype: int64

In [15]:
# Analyze the "search_city" column
df["search_city"].value_counts()

search_city
Baytown           10052
North Carolina    10015
Garland            9739
Greater London     9297
Austin             8897
                  ...
Moranbah             22
Bundaberg            21
Banff                21
Revelstoke            9
Dauphin               5
Name: count, Length: 1018, dtype: int64

In [16]:
# Analyze the "search_country" column
df["search_country"].value_counts()

search_country
United States     1149342
United Kingdom     113421
Canada              55972
Australia           29719
Name: count, dtype: int64

In [17]:
# Analyze the "search_position" column
df["search_position"].value_counts()

search_position
Account Executive                   19468
Christian Science Nurse             16048
Consultant Education                12138
Change Person                       12025
Circulation-Sales Representative    10978
                                    ...
Kettle Operator I                       1
Electric-Motor Repairer                 1
Dental-Laboratory Technician            1
Ticketing Clerk                         1
Playroom Attendant                      1
Name: count, Length: 1993, dtype: int64

In [18]:
# Analyze the "job_level" column
df["job_level"].value_counts()

job_level
Mid senior    1204445
Associate      144009
Name: count, dtype: int64

In [19]:
# Analyze the "job_type" column
df["job_type"].value_counts()

job_type
Onsite    1337633
Hybrid       6562
Remote       4259
Name: count, dtype: int64

In [20]:
# Drop missing values   
df = df.dropna()
df.head()

,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
0,https://www.linkedin.com/jobs/view/account-exe...,2024-01-21 07:12:29.002560+00:00,t,t,f,account executive,BD,"San Diego, CA",2024-01-15,Coronado,United States,Color Maker,Mid senior,Onsite
1,https://www.linkedin.com/jobs/view/registered-...,2024-01-21 07:39:58.881370+00:00,t,t,f,registered nurse,Trinity Health MI,"Norton Shores, MI",2024-01-14,Grand Haven,United States,Director Nursing Service,Mid senior,Onsite
2,https://www.linkedin.com/jobs/view/restaurant-...,2024-01-21 07:40:00.251126+00:00,t,t,f,restaurant supervisor,Wasatch Adaptive Sports,"Sandy, UT",2024-01-14,Tooele,United States,Stand-In,Mid senior,Onsite
3,https://www.linkedin.com/jobs/view/independent...,2024-01-21 07:40:00.308133+00:00,t,t,f,independent real estate agent,Howard Hanna | Rand Realty,"Englewood Cliffs, NJ",2024-01-16,Pinehurst,United States,Real-Estate Clerk,Mid senior,Onsite
4,https://www.linkedin.com/jobs/view/group-unit-...,2024-01-19 09:45:09.215838+00:00,f,f,f,group,"IRS, Office of Chief Counsel","Chamblee, GA",2024-01-17,Gadsden,United States,Supervisor Travel-Information Center,Mid senior,Onsite

In [21]:
print(df.isna().sum())
print(df.shape)

job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
(1348423, 14)

In [22]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect("/home/youssef/Desktop/Jobs_Data/DWH_Database/Jobs_Data")

# Write DataFrame to database
df.to_sql(
    name="LinkedIn_Jobs",        # table name
    con=conn,
    if_exists="replace",  # replace table if exists
    index=False
)

# Close connection
conn.close()